#contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px 0px;
    background-color: white;
}

#contact video {
    max-width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

form {
    padding: 10px;

}

form h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    text-transform:uppercase;
}

form input {
    padding: 7px;
    border: 1px solid black;
    outline: none;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 5px;
    box-sizing: border-box;

}

textarea {
    min-width: 100%;
    max-width: 100%;
    outline: none;
    padding: 5px;
    font-size: 18px;
    min-height: 100px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #contact {
        grid-template-columns: 1fr;
    }

    #contact video {
    max-width: 100%;
    border-radius: 0px;
}
}